# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Environment variables
.env

# Firebase / secret keys
serviceAccountKey.json

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python build files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Temporary files
*.tmp
*.swp
